@charset "UTF-8";
:root {
  --heart-color-filled: hotpink;
  --background-hover: #e0e0e0;
  --text-hover: #000;
  --box-shadow-hover: rgba(0, 0, 0, 0.3);
  --background-hover-light: #f5f5f5;
  --text-hover-light: #eee;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: linear-gradient(#ff7deb, rgba(144, 0, 192, 0.61));
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 0.3s 3.5s forwards;
}

.word {
  display: inline-block;
  font-size: 48px;
  color: yellow;
  text-shadow: 3px 3px 3px black;
  font-family: shrikhand, serif;
}

.word span {
  display: inline-block;
  animation: spin 3s;
}

.start-animation {
  animation-delay: 0s !important;
}

.word span:nth-child(1) {
  animation-delay: 0s;
}

.word span:nth-child(2) {
  animation-delay: 0.2s;
}

.word span:nth-child(3) {
  animation-delay: 0.4s;
}

.word span:nth-child(4) {
  animation-delay: 0.6s;
}

.word span:nth-child(5) {
  animation-delay: 0.8s;
}

.word span:nth-child(6) {
  animation-delay: 1s;
}

.word span:nth-child(7) {
  animation-delay: 1.2s;
}

.word span:nth-child(8) {
  animation-delay: 1.4s;
}

.end-animation {
  animation-delay: 2.8s !important;
  animation-fill-mode: forwards;
}

.loader::after {
  content: "";
  tab-index: -1;
  position: fixed;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  animation: disappear 0.01s 3.5s forwards;
}

.loader:not(:focus) {
  display: none;
}

.loader end-animation::after {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body #container .banner {
  display: flex;
  flex-direction: row;
}
body #container .banner .banner_arrow {
  width: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
}
body #container .banner .banner_arrow a .fa-solid {
  margin-top: 45px;
  margin-left: 100px;
  font-size: 2em;
}
body #container .banner .logo {
  width: 70%;
  justify-content: center;
  align-content: center;
}
body #container .banner .logo a #imgTitle {
  font-size: 1rem;
}
body #container .menu_prix .imgCook {
  height: 400px;
  width: 100%;
}
body #container .container {
  z-index: 1;
  border-radius: 40px 40px 0 0;
  border: 1px solid white;
  background-color: #f2f2f2;
  margin-top: 364px;
  padding: 20px 30px 20px 20px;
}
body #container .container .container_banner {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
}
body #container .container .container_banner h2 {
  font-style: italic;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  font-size: 3.5rem;
}
@media screen and (max-width: 768px) {
  #container {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #container .title {
    text-align: center;
    margin-bottom: 20px;
  }
  #container .title .head .logo a #imgTitle {
    padding-top: 30px;
    font-size: 0.5rem;
    padding-bottom: 4%;
  }
  #container .title .location-bar {
    background-color: #f2f2f2;
    border-top: 2px solid #999;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
  }
  #container .title .location-bar .location {
    display: flex;
    align-items: center;
    margin-left: 35%;
  }
  #container .title .location-bar .location i {
    margin-right: 10px;
  }
  #container .title .location-bar .location h1 {
    font-size: 1.5rem;
  }
  #container .title .introduction {
    font-size: 1.5rem;
  }
  #container .title .introduction .introduction__title {
    margin: 25px;
    font-size: 2rem;
  }
  #container .title .introduction .introduction__title h2 {
    font-weight: bold;
    white-space: pre-line;
    font-size: 1.5rem;
  }
  #container .title .introduction .introduction__down-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 55px;
  }
  #container .title .introduction .introduction__down-title p {
    /* Ajoutez du style pour les paragraphes */
  }
  #container .title .introduction .button-restaurant button {
    border-radius: 28px;
    border: none;
    width: 255px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    height: 55px;
    padding: 6px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2588235294);
  }
  #container .functionning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
  }
  #container .functionning .function {
    font-size: 2.5rem;
    padding-right: 50%;
    margin: 10px;
    display: flex;
  }
  #container .functionning .functionning__list {
    text-decoration: none;
    white-space: nowrap;
  }
  #container .functionning .functionning__list .button {
    position: relative;
    background-color: #f2f2f2;
    color: black;
    border: none;
    padding: 23px 11px 20px 50px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: -25px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    text-decoration: none;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-size: 1rem;
  }
  #container .functionning .functionning__list .functionning__list--number {
    background-color: #9356DC;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: absolute;
    left: 35px;
    margin-left: -50px;
  }
  #container .functionning .functionning__list i {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: #999;
    justify-content: space-between;
  }
  #container .functionning .functionning__list #p {
    margin-left: 5px;
  }
  #container .restaurants {
    background-color: #f2f2f2;
    width: 100%;
  }
  #container .restaurants .restaurants_title {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  #container .restaurants .restaurants_title h2 {
    font-size: 2.5rem;
    margin-left: 55px;
    display: flex;
  }
  #container .restaurants a {
    text-decoration-line: none;
  }
  #container .restaurants a .restaurants__card {
    position: relative;
    margin: 20px;
    width: 87%;
    box-sizing: border-box;
  }
  #container .restaurants a .restaurants__card .restaurants_image {
    width: 100%;
    height: auto;
    max-height: 400px;
    margin-left: 35px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  #container .restaurants a .restaurants__card .New {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: rgb(95, 182, 131);
    color: green;
    padding: 5px;
    border-radius: 2px;
  }
  #container .restaurants a .restaurants__card .restaurant_descript {
    margin-left: 35px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin-right: -35px;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name h3 {
    color: black;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container {
    position: relative;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox {
    display: none;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: hotpink;
    cursor: pointer;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox i.fa-regular,
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox i.fa-solid {
    position: relative;
    z-index: 2;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container:checked > label i.fa-regular {
    display: none;
  }
  #container .restaurants a .restaurants__card .restaurant_descript .restaurants_name .heart-container:checked > label i.fa-solid {
    display: block;
  }
  #container .restaurants a .restaurants__card .subtile_card {
    font-weight: bold;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
  }
  #container .restaurants a .restaurants__card .subtile_card p {
    color: black;
    text-decoration: none;
  }
  #container footer {
    background-color: #333;
    color: white;
    flex-direction: column;
  }
  #container footer .logo {
    list-style: none;
    padding: 10px 0 0 0;
    flex-direction: column;
    display: flex;
  }
  #container footer .logo a h2 {
    padding-right: 25px;
  }
  #container footer ul {
    list-style: none;
    padding: 0 10px 0 10px;
    flex-direction: column;
    margin-right: 65%;
    display: flex;
  }
  #container footer li a {
    color: white;
    text-decoration: none;
  }
  #container footer li a h3 {
    /* Ajoutez du style au besoin */
  }
  #container footer li a h3 .a-solid {
    /* Ajoutez du style au besoin */
  }
  body #container .banner {
    display: flex;
    flex-direction: row;
  }
  body #container .banner .banner_arrow {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  body #container .banner .banner_arrow a .fa-solid {
    margin-top: 45px;
    margin-left: 100px;
    font-size: 2em;
  }
  body #container .banner .logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  body #container .banner .logo a #imgTitle {
    padding-top: 30px;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 90px;
  }
  body #container .menu_prix {
    z-index: -1;
    width: 100%;
    display: inline-block;
    position: absolute;
  }
  body #container .menu_prix .imgCook {
    width: 100%;
    height: 400px;
  }
  body #container .container {
    z-index: 1;
    border-radius: 40px 40px 0 0;
    border: 1px solid white;
    background-color: #f2f2f2;
    margin-top: 330px;
    padding: 20px 30px 20px 20px;
  }
  body #container .container .container_banner {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
  }
  body #container .container .container_banner h2 {
    font-style: italic;
    font-weight: 400;
    font-family: "Shrikhand", cursive;
    font-size: 3.5rem;
  }
  body #container .container .container_banner .heart-container {
    margin-left: auto;
  }
  body #container .container .container_banner .heart-container .heart-label {
    display: flex;
    align-items: center;
  }
  body #container .container .container_banner .heart-container .heart-label .heart-checkbox {
    display: none; /* Hide the checkbox */
  }
  body #container .container .container_banner .heart-container .heart-label i {
    font-size: 24px; /* Adjust the font size as needed */
    color: hotpink;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  body #container .container .container_banner .heart-container .heart-label i:hover {
    opacity: 0.8;
  }
  body #container .container .container_banner .heart-container .heart-label .heart-checkbox:checked + i.fa-regular {
    opacity: 0;
  }
  body #container .container .container_banner .heart-container .heart-label .heart-checkbox:checked + i.fa-solid {
    opacity: 1;
  }
  body #container .menu {
    background-color: #f2f2f2;
    margin-top: -20px;
  }
  body #container .menu .menu__block {
    margin: 10px;
  }
  body #container .menu .menu__block .category .category__name {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body #container .menu .menu__block .category .category__name:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: rgb(95, 182, 131);
    border-radius: 10px;
    display: block;
  }
  body #container .menu .menu__block .choice {
    margin: 5px;
  }
  body #container .menu .menu__block .choice .choice__card {
    width: 97%;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 10px 33px 10px 17px;
    width: 81%;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt .choice__card__txt--title {
    font-size: 1.8rem;
    font-weight: bold; /* Ajout de la propriété pour mettre en gras */
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt .choice__card__txt--description {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -10px;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__price {
    font-size: 1.5rem;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__check {
    margin-top: 12%;
  }
  body #container .menu .menu__block .button-restaurant button {
    border-radius: 28px;
    border: none;
    width: 255px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    height: 55px;
    padding: 6px 20px;
    background: linear-gradient(#ff79da, #9356dc);
  }
  body #container footer {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
  }
  body #container footer .logo a .footer-logo {
    color: rgb(68, 67, 67);
    text-decoration: none;
  }
  body #container footer .logo a .footer-logo h2 {
    color: white;
  }
  body #container footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  body #container footer ul li a {
    color: white;
    text-decoration: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  body #container {
    width: 100%;
    text-align: center;
  }
  body #container .title .head .logo {
    padding-top: 30px;
    font-size: 0.5rem;
    text-align: center;
  }
  body #container .title .head .logo #imgTitle {
    margin-bottom: 25px;
    text-align: center;
  }
  body #container .title .location-bar {
    background-color: #f5f5f5;
    width: 98%;
    display: flex;
    align-items: center;
  }
  body #container .title .location-bar .location {
    display: flex;
    align-items: center;
    margin-left: 35%;
  }
  body #container .title .location-bar .location .fa-solid {
    margin-right: 5px;
  }
  body #container .title .location-bar .location h1 {
    margin-left: 45px;
    font-size: 1rem;
  }
  body #container .introduction {
    background-color: #f8f8f8;
    text-align: center;
    padding-bottom: 50px;
  }
  body #container .introduction .introduction__title {
    text-align: center;
    font-size: 2rem;
  }
  body #container .introduction .introduction__down-title {
    text-align: center;
    font-size: 1.8rem;
  }
  body #container .introduction .introduction__down-title p {
    font-size: 1.8rem;
    color: black;
  }
  body #container .introduction .button-restaurant {
    text-align: center;
  }
  body #container .introduction .button-restaurant button {
    border-radius: 28px;
    border: none;
    width: 255px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    height: 55px;
    padding: 6px 20px;
    background: linear-gradient(#ff79da, #9356dc);
  }
  body #container .functionning h2 {
    font-size: 1.9rem;
    margin-left: 45px;
    padding-bottom: 50px;
    padding-top: 25px;
  }
  body #container .functionning ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 50px;
  }
  body #container .functionning ul li {
    width: 30%; /*  largeur souhaitée pour chaque bouton */
    margin-right: 10px;
    display: inline-block; /* Pour que les boutons restent sur la même ligne */
  }
  body #container .functionning ul li .button {
    position: relative;
    background-color: #f2f2f2;
    color: black;
    border: none;
    padding: 30px 22px 22px 40px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    text-decoration: none;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    margin-right: 10px;
    white-space: nowrap;
  }
  body #container .functionning ul li .button .functionning__list--number {
    background-color: #9356DC;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    margin-left: -50px;
    margin-top: -10px;
  }
  body #container .functionning ul li .button .functionning__list--number i {
    color: grey;
  }
  body #container .restaurants {
    background-color: #f2f2f2;
    width: 98%;
  }
  body #container .restaurants .restaurants_title {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  body #container .restaurants .restaurants_title h2 {
    font-size: 1.9rem;
    margin-left: 55px;
    display: flex;
  }
  body #container .restaurants .restaurants_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
  }
  body #container .restaurants .restaurants_container a {
    text-decoration: none;
    width: 50%;
    max-height: 100%;
  }
  body #container .restaurants .restaurants_container a .restaurants__card {
    position: relative;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurants_image {
    width: 92%;
    height: 200px;
    max-height: 100%; /* Pour s'assurer que l'image conserve son aspect */
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .New {
    position: absolute;
    top: 25px;
    right: 54px;
    background-color: rgb(95, 182, 131);
    color: green;
    padding: 5px;
    border-radius: 2px;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-right: 50px;
    margin-left: 20px;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name h3 {
    color: black;
    text-decoration: none;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name .heart-container {
    position: relative;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox {
    display: none;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox:checked + label::before {
    content: "♥"; /* Code Unicode pour le cœur plein */
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: hotpink;
    cursor: pointer;
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .restaurants_name .heart-container input.heart-checkbox label::before {
    content: "♡"; /* Code Unicode pour le cœur vide */
  }
  body #container .restaurants .restaurants_container a .restaurants__card .restaurant_descript .subtile_card p {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 10px;
    margin-top: -20px;
  }
  body footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
    width: 100%;
    white-space: nowrap;
    margin-left: -19px;
  }
  body footer .logo {
    color: white;
    order: 2;
    font-family: "Shrikhand", cursive; /* Utilisation de la police Shrikhand */
    font-style: italic; /* Style italic */
    margin-right: 76px;
  }
  body footer .logo a {
    color: white;
    text-decoration: none;
  }
  body footer ul {
    list-style: none;
    display: flex;
    padding-right: 42px;
    order: 1;
  }
  body footer ul li a {
    color: white;
    text-decoration: none;
  }
  body footer ul li a h3 {
    margin-left: 12px;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body #container .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body #container .banner .banner_arrow {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  body #container .banner .banner_arrow a .fa-solid {
    margin-top: 45px;
    margin-left: 100px;
    font-size: 2em;
  }
  body #container .banner .logo {
    width: 70%;
    justify-content: center;
    align-content: center;
  }
  body #container .banner .logo a #imgTitle {
    padding-top: 20px;
    font-size: 1rem;
  }
  body #container .menu_prix {
    z-index: -1;
    width: 100%;
    position: absolute;
  }
  body #container .menu_prix .imgCook {
    height: 400px;
    z-index: 1;
  }
  body #container .container {
    z-index: 1;
    border-radius: 40px 40px 0 0;
    border: 1px solid white;
    background-color: #f2f2f2;
    margin-left: 82px;
    margin-right: 82px;
    padding: 20px 35px 0 60px;
  }
  body #container .container .container_banner {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
  }
  body #container .container .container_banner h2 {
    font-style: italic;
    font-weight: 400;
    font-family: "Shrikhand", cursive;
    font-size: 3.5rem;
  }
  body #container .menu {
    background-color: #f2f2f2;
    margin-top: -20px;
    margin-left: 82px;
    margin-right: 82px;
  }
  body #container .menu .menu__block {
    margin: 10px;
  }
  body #container .menu .menu__block .category .category__name {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
  }
  body #container .menu .menu__block .category .category__name:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: rgb(95, 182, 131);
    border-radius: 30px;
    display: block;
  }
  body #container .menu .menu__block .choice {
    margin: 5px;
  }
  body #container .menu .menu__block .choice .choice__card {
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 50px;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt .choice__card__txt--title {
    font-size: 1.8rem;
    font-weight: bold; /* Ajout de la propriété pour mettre en gras */
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__txt .choice__card__txt--description {
    font-weight: 300;
    font-size: 1.5rem;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__price {
    margin-left: auto;
    font-size: 1.5rem;
  }
  body #container .menu .menu__block .choice .choice__card .choice__card__check {
    margin-top: 15%;
  }
  body #container .menu .button-restaurant button {
    border-radius: 28px;
    border: none;
    width: 255px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    height: 55px;
    padding: 6px 20px;
    background: linear-gradient(#ff79da, #9356dc);
  }
  body footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
    width: 100%;
    white-space: nowrap;
    margin-left: -19px;
  }
  body footer .logo {
    color: white;
    order: 2;
    font-family: "Shrikhand", cursive; /* Utilisation de la police Shrikhand */
    font-style: italic; /* Style italic */
    margin-right: 76px;
  }
  body footer .logo a {
    color: white;
    text-decoration: none;
  }
  body footer ul {
    list-style: none;
    display: flex;
    padding-right: 42px;
    order: 1;
  }
  body footer ul li a {
    color: white;
    text-decoration: none;
  }
  body footer ul li a h3 {
    margin-left: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
